<p id="notice"><%= notice %></p>

<div class='main'>

  <div class='title-contents'>
    <h2 class='service-title'>
      市役所簡単予約
    </h2>
    <p class='service-explain'>
      だれでもかんたんに予約できるWebサイト
    </p>
    <p class='service-explain'>
      
    </p>
  </div>
<div>

<h2>予約フォーム</h2>

<h2><%= link_to '新規予約', new_reservation_path %></h2>

<%= month_calendar events: @reservations do |date, reservations| %>
  <%= date %>

  <% reservations.each do |reservation| %>
    <div>
      <%= reservation.start_time.hour %>:<%= reservation.start_time.min %>
      <%= reservation.name %>
    </div>
  <% end %>
<% end %>

<table>
  <thead>
    <tr>
      <th>名前</th>
      <th>予約時間</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @reservations.each do |reservation| %>
      <tr>
        <td><%= reservation.name %></td>
        <td><%= reservation.start_time.strftime("%Y-%m-%d %H:%M") %></td>
        <td><%= link_to '確認', reservation %></td>
        <td><%= link_to '編集', edit_reservation_path(reservation) %></td>
        <td><%= link_to '削除', reservation, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
<!DOCTYPE html>
<html lang="ja">

<head>
<meta charset="UTF-8">
<title>Sample_GoogleMap</title>

<script src="https://maps.google.com/maps/api/js?key=AIzaSyDJxtipsWokzn_GVY329Mt_phwADYdrQ0Y&language=ja"></script>

<style>
html { height: 50% }
body { height: 100% }
#map { height: 100%; width: 100%}
</style>
</head>

<body>
<div id="map"></div>

<script>
var MyLatLng = new google.maps.LatLng(34.989890441838625, 137.00215406658705);
var Options = {
 zoom: 14,      //地図の縮尺値
 center: MyLatLng,    //地図の中心座標
 mapTypeId: 'roadmap'   //地図の種類
};
var map = new google.maps.Map(document.getElementById('map'), Options);
</script>

</body>
</html>