<p id="notice"><%= notice %></p>

<p>
  <strong>お名前:</strong>
  <%= @reservation.name %>
</p>

<p>
  <strong>予約時間:</strong>
  <%= @reservation.start_time %>
</p>

<%= link_to '編集', edit_reservation_path(@reservation) %> |
<%= link_to '戻る', reservations_path %>
